.login-main-container {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.right-side-login {
    flex: 1;
    flex-basis: 70%;
    background-color: var(--gray-one);
}

.inputs-container {
    margin-top: 30vh;
    margin-left: 47.5vh;
}

.buttons-container {
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-message {
    margin: 0px;
    color: var(--white-one);
    font-family: 'Oxygen';
}

.no-error-message {
    height: 18.4px;
}

#forgot-password-header{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 270px;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}
